<div class="container-fluid mt-3">
    <div *ngIf="isLoading" class="spinner-backdrop">
        <div class="spinner-container text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    </div>
    <div class="alert alert-primary text-center" role="alert">
        <h6 class="text-primary">Módulo de Empleados</h6>
    </div>
    <h5 class="mb-4">
        Reporte Empleados <i class="bi bi-files"></i>
    </h5>
    <table class="table table-responsive-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Fecha Generado:</th>
                <th scope="col">{{ currentDate | date:'EEEE d, MMMM y' }}</th>
                <th scope="col">Generado por:</th>
                <th scope="col">Usuario</th>
            </tr>
        </thead>
    </table>
    <div class="mat-elevation-z0">
        <div class="table-filter">
            <!-- Menu flotante columnas -->
            <button mat-button [matMenuTriggerFor]="columnsMenu"><i class="bi bi-layout-three-columns"></i>
                Columnas</button>
            <button mat-button (click)="exportAsPDF()">
                <i class="bi bi-file-earmark-pdf-fill"></i>
                Exportar
            </button>

            <mat-menu #columnsMenu="matMenu" class="column-menu">
                <ng-container *ngFor="let column of columnNames">
                    <button mat-menu-item>
                        <mat-checkbox (change)="toggleColumn(column.id)"
                            [checked]="displayedColumns.includes(column.id)">
                            {{ column.name }}
                        </mat-checkbox>
                    </button>
                </ng-container>
            </mat-menu>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 min-vh-100">
            <!-- Columns Definitions -->
            <ng-container *ngFor="let col of columnNames" [matColumnDef]="col.id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.name }} </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="col.id === 'birthDate' || col.id === 'startDate'; else otherCells">
                        {{ element[col.id] | dateFormat }}
                    </ng-container>

                    <ng-template #otherCells>
                        <ng-container *ngIf="col.id === 'partTime'; else notPartTime">
                            {{ element[col.id] ? 'Si' : 'No' }}
                        </ng-container>

                        <ng-template #notPartTime>
                            <ng-container *ngIf="col.id === 'province_id'; else normalCell">
                                {{ getProvinceNameById(element[col.id]) }}
                            </ng-container>

                            <ng-template #normalCell>
                                {{ element[col.id] }}
                            </ng-template>
                        </ng-template>
                    </ng-template>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="button-group d-flex flex-wrap justify-content-center mt-3">
        <a [routerLink]="['/list-employees']" class="btn btn-danger mx-1 " style="min-width: 120px;">Salir</a>
    </div>
</div>