/* Estilo CSS adicional */
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los botones si no llenan una línea completa */
  gap: 10px; /* Espaciado entre botones, puedes ajustar según necesidad */
}

.form-group button {
  min-width: 200px; /* Establece un ancho mínimo para todos los botones */
  flex-grow: 1; /* Los botones crecen para llenar el espacio disponible */
  margin: 2px; /* Margen reducido para mejor adaptación en pantallas pequeñas */
}

.photo-upload {
  border: 1px solid #ced4da;
  height: calc(2.25rem + 2px);
  margin: 0.375rem 0;
}

.img-thumbnail {
  border: 1px solid #dee2e6;
  padding: 0.25rem;
  background-color: #fff;
  width: 100%;
  height: auto;
  max-width: 100px; /* Ajusta según el tamaño deseado */
}

/* Ajustes adicionales de estilo para la alineación y espaciado */
.form-group {
  margin-bottom: 1rem; /* Ajusta según sea necesario */
}

.label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* Asegúrate de incluir las clases de Bootstrap correctas para la alineación */
.d-flex {
  display: flex;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.image-container {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  overflow: hidden; /* Hide overflow */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.profile-picture {
  display: block; /* Remove inline behavior to allow centering */
  max-width: 100%; /* Max-width for responsiveness */
  max-height: 100%; /* Max-height for responsiveness */
  object-fit: cover; /* This will cover the area, cropping the image as necessary */
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.button-responsive {
  min-width: 120px;
}

@media (max-width: 767px) {
  .button-responsive {
    width: 100%;
  }
}
